repos:
  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt
        entry: cargo fmt --all -- --check
        language: system
        types: [rust]
      - id: cargo-clippy
        name: cargo clippy
        entry: cargo clippy --all-targets --all-features -- -D warnings
        language: system
        types: [rust]
      - id: cargo-test
        name: cargo test
        entry: cargo test --workspace --verbose
        language: system
        stages: [commit]
      - id: cargo-build-release
        name: cargo build --release
        entry: cargo build --release
        language: system
        stages: [commit]
